<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Authentication | Node.js | Passport.js</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #efefef;
        }

        a {
            transition: 0.3s;
        }

        a:hover {
            text-decoration: none;
            font-weight: 600;
        }

        .main-homepage {
            margin-bottom: 0;
        }

        .sub-homepage {
            font-size: 1.5rem;
            text-transform: none;
            font-weight: 300;
        }

        .btn-secondary {
            background-color: #ececec;
        }

        .text-center {
            letter-spacing: -1px;
            font-weight: 700;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem !important;
            text-transform: capitalize;
            font-size: 2.3rem;
        }

        .form-group {
            width: 90%;
            margin: 1rem auto;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0.1rem rgba(26, 26, 26, 0.5);
        }

        .lead {
            font-size: initial;
            margin: 0.3rem auto !important;
        }

        .btn {
            width: 90%;
            margin: 2rem auto;
            margin-bottom: 1rem;
        }

        .alert {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }

        .card {
            box-shadow: 0 50px 99px 0 rgba(0, 0, 0, 0.16);
            border: none;
            border-radius: 11px;
        }

        .form-control,
        .btn,
        .alert {
            border-radius: 5px;
        }

        label {
            font-weight: 600;
        }

        .logout {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- body %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>